In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime 
import time
import radix
import gpxpy
import gpxpy.gpx
import requests

%matplotlib inline

In [2]:
DataFrame1 = pd.read_csv('track_points.csv', sep=",", usecols=(0,1))

In [3]:
DataFrame1.head(25)

             X          Y
0  -123.256691  44.587662
1  -123.256691  44.587662
2  -123.256691  44.587654
3  -123.256699  44.587643
4  -123.256714  44.587627
5  -123.256744  44.587620
6  -123.256783  44.587616
7  -123.256828  44.587616
8  -123.256874  44.587616
9  -123.256927  44.587616
10 -123.256981  44.587620
11 -123.257034  44.587620
12 -123.257088  44.587616
13 -123.257149  44.587612
14 -123.257210  44.587608
15 -123.257271  44.587605
16 -123.257339  44.587605
17 -123.257408  44.587601
18 -123.257477  44.587597
19 -123.257545  44.587593
20 -123.257622  44.587589
21 -123.257690  44.587585
22 -123.257759  44.587582
23 -123.257835  44.587578
24 -123.257912  44.587574

In [4]:
n = 0
for i,row in DataFrame1.iterrows():
    lon, lat = row
    web_input = {'lon':str(lon), 
                  'lat':str(lat), 
                  'state':"or", 
                  'apikey':"17bf9cfd69ff41e3855046e96054df77", 
                 'format':"csv",
                 'notStore':"false",
                 'includeHeader':"false",
                 'version':"4.10"}
    website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/HTTP/default.aspx/get',
                           params=web_input)
    
    print(lon,lat)
    print(website.content)
    print()
    
    n = n + 1
    if n > 5:
        break

-123.25669099999999 44.587662
b''

-123.25669099999999 44.587662
b''

-123.25669099999999 44.587654
b''

-123.256699 44.587643
b''

-123.25671399999999 44.587627000000005
b''

-123.256744 44.58762
b''