In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime 
import time
import radix
import gpxpy
import gpxpy.gpx
import requests
import math
import json

%matplotlib inline

In [72]:
DataFrame1 = pd.read_csv('track_points.csv', sep=",", usecols=(0,1))

In [73]:
DataFrame1.head()

            X          Y
0 -123.256691  44.587662
1 -123.256691  44.587662
2 -123.256691  44.587654
3 -123.256699  44.587643
4 -123.256714  44.587627

In [90]:
DataFrame1.iloc[0:]

                X          Y
0     -123.256691  44.587662
1     -123.256691  44.587662
2     -123.256691  44.587654
3     -123.256699  44.587643
4     -123.256714  44.587627
...           ...        ...
18370 -123.263397  44.587345
18371 -123.263428  44.587334
18372 -123.263451  44.587311
18373 -123.263458  44.587288
18374 -123.263443  44.587273

[18375 rows x 2 columns]

In [91]:
len(DataFrame1)

18375

In [105]:
# a small dataframe for testing 
df_len = len(DataFrame1)
# DataFrame2 = pd.DataFrame()
small_data = list()
for i in range(df_len):
    denominator = df_len/100
    if i % denominator == 0:
        small_data.append(DataFrame1.iloc[i])
      
DataFrame2 = pd.DataFrame(small_data)
DataFrame2.head(10)

               X          Y
0    -123.256691  44.587662
735  -123.264595  44.612835
1470 -123.274559  44.630478
2205 -123.295586  44.636280
2940 -123.278564  44.662323
3675 -123.243805  44.683083
4410 -123.274673  44.699368
5145 -123.304802  44.726227
5880 -123.271141  44.742973
6615 -123.223145  44.746567

In [110]:
DataFrame2 = DataFrame2.reset_index(drop=True)

In [111]:
DataFrame2.head()

            X          Y
0 -123.256691  44.587662
1 -123.264595  44.612835
2 -123.274559  44.630478
3 -123.295586  44.636280
4 -123.278564  44.662323

In [76]:
DataFrame2.iloc[0][0]

-123.25669099999999

In [96]:
DataFrame1.index[-1]

18374

In [77]:
q = 0
M = list()
for index, item in DataFrame2.iterrows():
    row, col = item
#     print(row, col)
    l = [row, col]
#     print(l)
    M.append(l)
    q = q + 1
    if q > 3:
        break
print(M)
for item in M:
    print(item)

[[-123.25669099999999, 44.587662], [-123.264595, 44.612834899999996], [-123.27455900000001, 44.630477899999995], [-123.29558600000001, 44.63628]]
[-123.25669099999999, 44.587662]
[-123.264595, 44.612834899999996]
[-123.27455900000001, 44.630477899999995]
[-123.29558600000001, 44.63628]

In [82]:
n = 0
for i,row in DataFrame2.iterrows():
    lon, lat = row
    web_input = {'lon':str(lon), 
                  'lat':str(lat), 
                  'state':"or", 
                  'apikey':"06b0930203314ecc90082f30a9e65753", 
                 'format':"json",
                 'notStore':"false",
                 'includeHeader':"false",
                 'version':"4.10"}
    website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?',
                           params=web_input)
    
    print(lon,lat)
    print(website.content)
    json_read = json.loads(website.content)
    l = str(website.content).split(',')
    print(str(website.content).split(',')[5])
    
    n = n + 1
    if n > 0:
        break
    
json_read['StreetAddresses'][0]['StreetAddress']

-123.25669099999999 44.587662
b'{\r\n\t"TransactionId" : "5170527a-469f-4f06-a3e7-ee454a66b981",\r\n\t"Version"   : "4.01",\r\n\t"QueryStatusCode" : "Success",\r\n\t"TimeTaken" : "0",\r\n\t"Exception" : "",\r\n\t"ErrorMessage" : "",\r\n\t"StreetAddresses" : \r\n\t[\r\n\t{\r\n\t\t"TransactionId" : "5170527a-469f-4f06-a3e7-ee454a66b981",\r\n\t\t"Version"   : "4.01",\r\n\t\t"QueryStatusCode" : "Success",\r\n\t\t"TimeTaken" : "0",\r\n\t\t"Exception" : "",\r\n\t\t"ErrorMessage" : "",\r\n\t\t"APN" : "11526AD02202",\r\n\t\t"StreetAddress" : "922 NW Circle Blvd",\r\n\t\t"City" : "Corvallis",\r\n\t\t"State" : "OR",\r\n\t\t"Zip" : "97330",\r\n\t\t"ZipPlus4" : "1410"\r\n\t}\r\n\t]\r\n}\r\n\r\n'
\r\n\t"ErrorMessage" : ""

'922 NW Circle Blvd'

In [120]:
turn_pts = list()
def binarySearch(df):
    print()
    print("start a new bs")
    df = df.reset_index(drop=True)
    start = df.index[0]
    end = df.index[-1]
    mid = math.ceil((start + end) / 2)
    print(mid)
    lon = df.iloc[start][0]
    lat = df.iloc[start][1]
    # find start point address 
    web_input = {'lon':str(lon), 
                  'lat':str(lat), 
                  'state':"or", 
                  'apikey':"06b0930203314ecc90082f30a9e65753", 
                 'format':"json",
                 'notStore':"false",
                 'version':"4.10"}
    website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?',
                           params=web_input)
    json_read = json.loads(website.content)
    print(json_read)
    start_address = str(json_read['StreetAddresses'][0]['StreetAddress'])
    # find mid point address 
    lon = df.iloc[mid][0]
    lat = df.iloc[mid][1]
    print(lon, lat)
    web_input = {'lon':str(lon), 
                  'lat':str(lat), 
                  'state':"or", 
                  'apikey':"06b0930203314ecc90082f30a9e65753", 
                 'format':"json",
                 'notStore':"false",
                 'version':"4.10"}
    website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?',
                           params=web_input)
    json_read2 = json.loads(website.content)
    print(json_read2)
    mid_address = str(json_read['StreetAddresses'][0]['StreetAddress'])
    # find end point address 
    lon = df.iloc[end][0]
    lat = df.iloc[end][1]
    web_input = {'lon':str(lon), 
                  'lat':str(lat), 
                  'state':"or", 
                  'apikey':"06b0930203314ecc90082f30a9e65753", 
                 'format':"json",
                 'notStore':"false",
                 'version':"4.10"}
    website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?',
                           params=web_input)
    json_read3 = json.loads(website.content)
    end_address = str(json_read['StreetAddresses'][0]['StreetAddress'])
    # base case
    if len(df) <= 2:
        for index, item in df.iterrows():
            row, col = item
            l = [row, col]
            turn_pts.append(l)
        return None
    
    elif start_address == mid_address and mid_address == end_address:
        if end - start < math.ceil(len(df) / 100):  # 
            return None
        else:
            binarySearch(df.iloc[start:mid])
            binarySearch(df.iloc[mid:end])
            
    else:
        binarySearch(df.iloc[start:mid])
        binarySearch(df.iloc[mid:end])

In [121]:
binarySearch(DataFrame2)
print(turn_pts)

12
{'TransactionId': '4ad70de6-9314-40dc-b391-6411cf220aac', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6298', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '4ad70de6-9314-40dc-b391-6411cf220aac', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
-123.235222 44.845428000000005
{'TransactionId': 'cf0d4622-6301-450d-88e7-1fbcda8b7bb6', 'Version': '4.01', 'QueryStatusCode': 'Failure', 'TimeTaken': '15.6242', 'Exception': 'System.Exception: Exception occurred GetNearestAddressRecordAsDataTable: Error in ExecuteDataTable: Error in ExecuteDataSet: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist. ---&gt; System.Exception: Error in ExecuteDataTable: Error in ExecuteDataSet: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist. ---&gt; System.Exception: Error in ExecuteDataSet: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist. ---&gt; System.Data.SqlClient.SqlException: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist.\\r\\n   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)\\r\\n   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)\\r\\n   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean&amp; dataReady)\\r\\n   at System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()\\r\\n   at System.Data.SqlClient.SqlDataReader.get_MetaData()\\r\\n   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)\\r\\n   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task&amp; task, Boolean asyncWrite, Boolean inRetry, SqlDataReader ds, Boolean describeParameterEncryptionRequest)\\r\\n   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task&amp; task, Boolean&amp; usedCache, Boolean asyncWrite, Boolean inRetry)\\r\\n   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)\\r\\n   at System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)\\r\\n   at System.Data.Common.DbDataAdapter.FillInternal(DataSet dataset, DataTable[] datatables, Int32 startRecord, Int32 maxRecords, String srcTable, IDbCommand command, CommandBehavior behavior)\\r\\n   at System.Data.Common.DbDataAdapter.Fill(DataSet dataSet, Int32 startRecord, Int32 maxRecords, String srcTable, IDbCommand command, CommandBehavior behavior)\\r\\n   at System.Data.Common.DbDataAdapter.Fill(DataSet dataSet)\\r\\n   at USC.GISResearchLab.Common.Databases.QueryManagers.QueryManager.ExecuteDataSet(CommandType commandType, String commandText, Int32 commandTimeout, Boolean shouldOpenAndClose) in C:\\DevSource\\TAMU\\GeoInnovation\\Common.Data.Databases\\Src\\Main\\QueryManagers\\QueryManager.cs:line 853\\r\\n   --- End of inner exception stack trace ---\\r\\n   at USC.GISResearchLab.Common.Databases.QueryManagers.QueryManager.ExecuteDataSet(CommandType commandType, String commandText, Int32 commandTimeout, Boolean shouldOpenAndClose) in C:\\DevSource\\TAMU\\GeoInnovation\\Common.Data.Databases\\Src\\Main\\QueryManagers\\QueryManager.cs:line 874\\r\\n   at USC.GISResearchLab.Common.Databases.QueryManagers.QueryManager.ExecuteDataTable(CommandType commandType, String commandText, Int32 commnadTimeout, Boolean shouldOpenAndClose) in C:\\DevSource\\TAMU\\GeoInnovation\\Common.Data.Databases\\Src\\Main\\QueryManagers\\QueryManager.cs:line 909\\r\\n   --- End of inner exception stack trace ---\\r\\n   at USC.GISResearchLab.Common.Databases.QueryManagers.QueryManager.ExecuteDataTable(CommandType commandType, String commandText, Int32 commnadTimeout, Boolean shouldOpenAndClose) in C:\\DevSource\\TAMU\\GeoInnovation\\Common.Data.Databases\\Src\\Main\\QueryManagers\\QueryManager.cs:line 929\\r\\n   at USC.GISResearchLab.Common.ReverseGeocoding.Tiger2010.PointIntersecters.OpenAddressReverseGeocoder.GetNearestAddressRecordAsDataTable(Double longitude, Double latitude, String state, Double distanceThreshold) in C:\\DevSource\\TAMU\\GeoInnovation\\ReverseGeocoding.Core\\src\\Main\\OpenAddressParcels\\PointIntersecters\\OpenAddressReverseGeocoder.cs:line 332\\r\\n   --- End of inner exception stack trace ---\\r\\n   at USC.GISResearchLab.Common.ReverseGeocoding.Tiger2010.PointIntersecters.OpenAddressReverseGeocoder.GetNearestAddressRecordAsDataTable(Double longitude, Double latitude, String state, Double distanceThreshold) in C:\\DevSource\\TAMU\\GeoInnovation\\ReverseGeocoding.Core\\src\\Main\\OpenAddressParcels\\PointIntersecters\\OpenAddressReverseGeocoder.cs:line 338\\r\\n   at USC.GISResearchLab.Common.ReverseGeocoding.Tiger2010.PointIntersecters.OpenAddressReverseGeocoder.GetRecord(Double longitude, Double latitude, String state, Double version) in C:\\DevSource\\TAMU\\GeoInnovation\\ReverseGeocoding.Core\\src\\Main\\OpenAddressParcels\\PointIntersecters\\OpenAddressReverseGeocoder.cs:line 398', 'ErrorMessage': 'Exception occurred GetNearestAddressRecordAsDataTable: Error in ExecuteDataTable: Error in ExecuteDataSet: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist.', 'StreetAddresses': []}
6
{'TransactionId': 'bd18c1b6-c38c-44ac-97c4-630271866e94', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'bd18c1b6-c38c-44ac-97c4-630271866e94', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
-123.27467299999999 44.699368
{'TransactionId': '87fe0f86-6181-4a0a-b319-46eadaeedaa1', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '62.4998', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '87fe0f86-6181-4a0a-b319-46eadaeedaa1', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '62.4998', 'Exception': '', 'ErrorMessage': '', 'APN': '10514B000300', 'StreetAddress': '38894 Trillium Ln', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9366'}]}
3
{'TransactionId': '7a4a9616-34c6-48de-bc34-3734757c7907', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '7a4a9616-34c6-48de-bc34-3734757c7907', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
-123.29558600000001 44.63628
{'TransactionId': 'ee79a1eb-e43c-4211-864b-1d71f2ca28cf', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '546.8696', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'ee79a1eb-e43c-4211-864b-1d71f2ca28cf', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '531.2526', 'Exception': '', 'ErrorMessage': '', 'APN': '11510B003500', 'StreetAddress': '2471 NW Michelle Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9267'}]}
1
{'TransactionId': '5820c0c8-c548-4521-94d1-20d8ffd6f54b', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6215', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '5820c0c8-c548-4521-94d1-20d8ffd6f54b', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
-123.264595 44.612834899999996

{'TransactionId': 'ecffba4b-d957-44f6-b91d-ca5cff9cd35a', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '249.9951', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'ecffba4b-d957-44f6-b91d-ca5cff9cd35a', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '234.3768', 'Exception': '', 'ErrorMessage': '', 'APN': '115140001200', 'StreetAddress': '4160 NW Crescent Valley Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9714'}]}
0
{'TransactionId': 'd5c19ebe-c30b-4c41-bb0b-c2224dd2bb39', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'd5c19ebe-c30b-4c41-bb0b-c2224dd2bb39', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
-123.25669099999999 44.587662
{'TransactionId': '617b984d-90ab-488d-9fb6-28bbbf8f6ff6', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '617b984d-90ab-488d-9fb6-28bbbf8f6ff6', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
0
{'TransactionId': '4e3a2836-5b4b-4618-9aba-75111f6ee9a4', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6193', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '4e3a2836-5b4b-4618-9aba-75111f6ee9a4', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '115140001200', 'StreetAddress': '4160 NW Crescent Valley Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9714'}]}
-123.264595 44.612834899999996
{'TransactionId': '00c7cc02-ff2d-4618-85f3-63913607625c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '00c7cc02-ff2d-4618-85f3-63913607625c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '115140001200', 'StreetAddress': '4160 NW Crescent Valley Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9714'}]}
1
{'TransactionId': '1b441df2-b51f-444d-ac28-d58c8bf5e17c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '1b441df2-b51f-444d-ac28-d58c8bf5e17c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11510B003500', 'StreetAddress': '2471 NW Michelle Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9267'}]}
-123.27856399999999 44.662323
{'TransactionId': '4fa09357-d1fd-491f-b265-d4019783f110', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.602', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '4fa09357-d1fd-491f-b265-d4019783f110', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.602', 'Exception': '', 'ErrorMessage': '', 'APN': '10534A001100', 'StreetAddress': '37524 Soap Creek Rd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9832'}]}
2
{'TransactionId': '7feb88e1-9ec3-4b9d-bc74-5a6c4ebaf62e', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '7feb88e1-9ec3-4b9d-bc74-5a6c4ebaf62e', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '10514B000300', 'StreetAddress': '38894 Trillium Ln', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9366'}]}
-123.27114099999999 44.742973
{'TransactionId': 'a63b6e0c-5529-4627-8959-152672bc12f1', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '265.619', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'a63b6e0c-5529-4627-8959-152672bc12f1', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '249.9991', 'Exception': '', 'ErrorMessage': '', 'APN': '953500  200', 'StreetAddress': '11665 AIRLIE RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9621'}]}
1
{'TransactionId': 'c3e454a4-6ba8-4732-b0b0-885c21476a92', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6246', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'c3e454a4-6ba8-4732-b0b0-885c21476a92', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '10514B000300', 'StreetAddress': '38894 Trillium Ln', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9366'}]}
-123.304802 44.726227
{'TransactionId': 'c63b352b-9be1-4825-abb7-f5085c708953', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '93.7471', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'c63b352b-9be1-4825-abb7-f5085c708953', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '31.2497', 'Exception': '', 'ErrorMessage': '', 'APN': '105 400  301', 'StreetAddress': '14105 BERRY CREEK RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9736'}]}
1
{'TransactionId': 'adaa5d5e-2395-48ca-bf32-9b2daf570fbd', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6243', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'adaa5d5e-2395-48ca-bf32-9b2daf570fbd', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '953500  200', 'StreetAddress': '11665 AIRLIE RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9621'}]}
-123.223145 44.746567
{'TransactionId': '141bf825-b14f-4ea6-abcd-b5ab5fc10e02', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '93.7481', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '141bf825-b14f-4ea6-abcd-b5ab5fc10e02', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '93.7481', 'Exception': '', 'ErrorMessage': '', 'APN': '943100  100', 'StreetAddress': '12680 S PACIFIC HWY W', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9753'}]}
6
{'TransactionId': 'a1d5bcab-6e67-450b-8719-bd4f36deb54b', 'Version': '4.01', 'QueryStatusCode': 'Failure', 'TimeTaken': '15.6271', 'Exception': 'System.Exception: Exception occurred GetNearestAddressRecordAsDataTable: Error in ExecuteDataTable: Error in ExecuteDataSet: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist. ---&gt; System.Exception: Error in ExecuteDataTable: Error in ExecuteDataSet: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist. ---&gt; System.Exception: Error in ExecuteDataSet: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist. ---&gt; System.Data.SqlClient.SqlException: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist.\\r\\n   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)\\r\\n   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)\\r\\n   at System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean&amp; dataReady)\\r\\n   at System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()\\r\\n   at System.Data.SqlClient.SqlDataReader.get_MetaData()\\r\\n   at System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption, Boolean shouldCacheForAlwaysEncrypted)\\r\\n   at System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task&amp; task, Boolean asyncWrite, Boolean inRetry, SqlDataReader ds, Boolean describeParameterEncryptionRequest)\\r\\n   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task&amp; task, Boolean&amp; usedCache, Boolean asyncWrite, Boolean inRetry)\\r\\n   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)\\r\\n   at System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)\\r\\n   at System.Data.Common.DbDataAdapter.FillInternal(DataSet dataset, DataTable[] datatables, Int32 startRecord, Int32 maxRecords, String srcTable, IDbCommand command, CommandBehavior behavior)\\r\\n   at System.Data.Common.DbDataAdapter.Fill(DataSet dataSet, Int32 startRecord, Int32 maxRecords, String srcTable, IDbCommand command, CommandBehavior behavior)\\r\\n   at System.Data.Common.DbDataAdapter.Fill(DataSet dataSet)\\r\\n   at USC.GISResearchLab.Common.Databases.QueryManagers.QueryManager.ExecuteDataSet(CommandType commandType, String commandText, Int32 commandTimeout, Boolean shouldOpenAndClose) in C:\\DevSource\\TAMU\\GeoInnovation\\Common.Data.Databases\\Src\\Main\\QueryManagers\\QueryManager.cs:line 853\\r\\n   --- End of inner exception stack trace ---\\r\\n   at USC.GISResearchLab.Common.Databases.QueryManagers.QueryManager.ExecuteDataSet(CommandType commandType, String commandText, Int32 commandTimeout, Boolean shouldOpenAndClose) in C:\\DevSource\\TAMU\\GeoInnovation\\Common.Data.Databases\\Src\\Main\\QueryManagers\\QueryManager.cs:line 874\\r\\n   at USC.GISResearchLab.Common.Databases.QueryManagers.QueryManager.ExecuteDataTable(CommandType commandType, String commandText, Int32 commnadTimeout, Boolean shouldOpenAndClose) in C:\\DevSource\\TAMU\\GeoInnovation\\Common.Data.Databases\\Src\\Main\\QueryManagers\\QueryManager.cs:line 909\\r\\n   --- End of inner exception stack trace ---\\r\\n   at USC.GISResearchLab.Common.Databases.QueryManagers.QueryManager.ExecuteDataTable(CommandType commandType, String commandText, Int32 commnadTimeout, Boolean shouldOpenAndClose) in C:\\DevSource\\TAMU\\GeoInnovation\\Common.Data.Databases\\Src\\Main\\QueryManagers\\QueryManager.cs:line 929\\r\\n   at USC.GISResearchLab.Common.ReverseGeocoding.Tiger2010.PointIntersecters.OpenAddressReverseGeocoder.GetNearestAddressRecordAsDataTable(Double longitude, Double latitude, String state, Double distanceThreshold) in C:\\DevSource\\TAMU\\GeoInnovation\\ReverseGeocoding.Core\\src\\Main\\OpenAddressParcels\\PointIntersecters\\OpenAddressReverseGeocoder.cs:line 332\\r\\n   --- End of inner exception stack trace ---\\r\\n   at USC.GISResearchLab.Common.ReverseGeocoding.Tiger2010.PointIntersecters.OpenAddressReverseGeocoder.GetNearestAddressRecordAsDataTable(Double longitude, Double latitude, String state, Double distanceThreshold) in C:\\DevSource\\TAMU\\GeoInnovation\\ReverseGeocoding.Core\\src\\Main\\OpenAddressParcels\\PointIntersecters\\OpenAddressReverseGeocoder.cs:line 338\\r\\n   at USC.GISResearchLab.Common.ReverseGeocoding.Tiger2010.PointIntersecters.OpenAddressReverseGeocoder.GetRecord(Double longitude, Double latitude, String state, Double version) in C:\\DevSource\\TAMU\\GeoInnovation\\ReverseGeocoding.Core\\src\\Main\\OpenAddressParcels\\PointIntersecters\\OpenAddressReverseGeocoder.cs:line 398', 'ErrorMessage': 'Exception occurred GetNearestAddressRecordAsDataTable: Error in ExecuteDataTable: Error in ExecuteDataSet: Index &#39;idx_geog&#39; on table &#39;or&#39; (specified in the FROM clause) does not exist.', 'StreetAddresses': []}

IndexError: list index out of range