In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime 
import time
import radix
import gpxpy
import gpxpy.gpx
import requests
import math
import json

%matplotlib inline

In [143]:
DataFrame1 = pd.read_csv('track_points.csv', sep=",", usecols=(0,1))

In [144]:
DataFrame1.head()

            X          Y
0 -123.256691  44.587662
1 -123.256691  44.587662
2 -123.256691  44.587654
3 -123.256699  44.587643
4 -123.256714  44.587627

In [145]:
DataFrame1.iloc[0:]

                X          Y
0     -123.256691  44.587662
1     -123.256691  44.587662
2     -123.256691  44.587654
3     -123.256699  44.587643
4     -123.256714  44.587627
...           ...        ...
18370 -123.263397  44.587345
18371 -123.263428  44.587334
18372 -123.263451  44.587311
18373 -123.263458  44.587288
18374 -123.263443  44.587273

[18375 rows x 2 columns]

In [146]:
len(DataFrame1)

18375

In [2]:
l = ['ll', 'ss','dd','cc']
l.remove('l')
l

['ss', 'dd', 'cc']

In [147]:
# a small dataframe for testing 
df_len = len(DataFrame1)
# DataFrame2 = pd.DataFrame()
small_data = list()
for i in range(df_len):
    denominator = df_len/100
    if i % denominator == 0:
        small_data.append(DataFrame1.iloc[i])
      
DataFrame2 = pd.DataFrame(small_data)
DataFrame2.head(10)

               X          Y
0    -123.256691  44.587662
735  -123.264595  44.612835
1470 -123.274559  44.630478
2205 -123.295586  44.636280
2940 -123.278564  44.662323
3675 -123.243805  44.683083
4410 -123.274673  44.699368
5145 -123.304802  44.726227
5880 -123.271141  44.742973
6615 -123.223145  44.746567

In [157]:
DataFrame2 = DataFrame2.reset_index(drop=True)
DataFrame2

             X          Y  streetName
0  -123.256691  44.587662         NaN
1  -123.264595  44.612835         NaN
2  -123.274559  44.630478         NaN
3  -123.295586  44.636280         NaN
4  -123.278564  44.662323         NaN
5  -123.243805  44.683083         NaN
6  -123.274673  44.699368         NaN
7  -123.304802  44.726227         NaN
8  -123.271141  44.742973         NaN
9  -123.223145  44.746567         NaN
10 -123.235161  44.780285         NaN
11 -123.235237  44.808323         NaN
12 -123.235222  44.845428         NaN
13 -123.217979  44.863754         NaN
14 -123.184631  44.849499         NaN
15 -123.145226  44.836056         NaN
16 -123.099861  44.822712         NaN
17 -123.088318  44.800953         NaN
18 -123.119003  44.775921         NaN
19 -123.151176  44.768318         NaN
20 -123.163597  44.733837         NaN
21 -123.182068  44.707474         NaN
22 -123.181313  44.665283         NaN
23 -123.212631  44.641033         NaN
24 -123.242523  44.624386         NaN

In [158]:
# for i in range(len(DataFrame2)):
#     DataFrame2.iloc[i][3] = None
# del DataFrame2["Z"]
DataFrame2["streetName"]=np.nan
DataFrame2

             X          Y  streetName
0  -123.256691  44.587662         NaN
1  -123.264595  44.612835         NaN
2  -123.274559  44.630478         NaN
3  -123.295586  44.636280         NaN
4  -123.278564  44.662323         NaN
5  -123.243805  44.683083         NaN
6  -123.274673  44.699368         NaN
7  -123.304802  44.726227         NaN
8  -123.271141  44.742973         NaN
9  -123.223145  44.746567         NaN
10 -123.235161  44.780285         NaN
11 -123.235237  44.808323         NaN
12 -123.235222  44.845428         NaN
13 -123.217979  44.863754         NaN
14 -123.184631  44.849499         NaN
15 -123.145226  44.836056         NaN
16 -123.099861  44.822712         NaN
17 -123.088318  44.800953         NaN
18 -123.119003  44.775921         NaN
19 -123.151176  44.768318         NaN
20 -123.163597  44.733837         NaN
21 -123.182068  44.707474         NaN
22 -123.181313  44.665283         NaN
23 -123.212631  44.641033         NaN
24 -123.242523  44.624386         NaN

In [131]:
DataFrame2 = DataFrame2.iloc[0:10]

In [132]:
DataFrame2.head(20)

            X          Y
0 -123.256691  44.587662
1 -123.264595  44.612835
2 -123.274559  44.630478
3 -123.295586  44.636280
4 -123.278564  44.662323
5 -123.243805  44.683083
6 -123.274673  44.699368
7 -123.304802  44.726227
8 -123.271141  44.742973
9 -123.223145  44.746567

In [76]:
DataFrame2.iloc[0][0]

-123.25669099999999

In [96]:
DataFrame1.index[-1]

18374

In [77]:
q = 0
M = list()
for index, item in DataFrame2.iterrows():
    row, col = item
#     print(row, col)
    l = [row, col]
#     print(l)
    M.append(l)
    q = q + 1
    if q > 3:
        break
print(M)
for item in M:
    print(item)

[[-123.25669099999999, 44.587662], [-123.264595, 44.612834899999996], [-123.27455900000001, 44.630477899999995], [-123.29558600000001, 44.63628]]
[-123.25669099999999, 44.587662]
[-123.264595, 44.612834899999996]
[-123.27455900000001, 44.630477899999995]
[-123.29558600000001, 44.63628]

In [82]:
n = 0
for i,row in DataFrame2.iterrows():
    lon, lat = row
    web_input = {'lon':str(lon), 
                  'lat':str(lat), 
                  'state':"or", 
                  'apikey':"06b0930203314ecc90082f30a9e65753", 
                 'format':"json",
                 'notStore':"false",
                 'includeHeader':"false",
                 'version':"4.10"}
    website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?',
                           params=web_input)
    
    print(lon,lat)
    print(website.content)
    json_read = json.loads(website.content)
    l = str(website.content).split(',')
    print(str(website.content).split(',')[5])
    
    n = n + 1
    if n > 0:
        break
    
json_read['StreetAddresses'][0]['StreetAddress']

-123.25669099999999 44.587662
b'{\r\n\t"TransactionId" : "5170527a-469f-4f06-a3e7-ee454a66b981",\r\n\t"Version"   : "4.01",\r\n\t"QueryStatusCode" : "Success",\r\n\t"TimeTaken" : "0",\r\n\t"Exception" : "",\r\n\t"ErrorMessage" : "",\r\n\t"StreetAddresses" : \r\n\t[\r\n\t{\r\n\t\t"TransactionId" : "5170527a-469f-4f06-a3e7-ee454a66b981",\r\n\t\t"Version"   : "4.01",\r\n\t\t"QueryStatusCode" : "Success",\r\n\t\t"TimeTaken" : "0",\r\n\t\t"Exception" : "",\r\n\t\t"ErrorMessage" : "",\r\n\t\t"APN" : "11526AD02202",\r\n\t\t"StreetAddress" : "922 NW Circle Blvd",\r\n\t\t"City" : "Corvallis",\r\n\t\t"State" : "OR",\r\n\t\t"Zip" : "97330",\r\n\t\t"ZipPlus4" : "1410"\r\n\t}\r\n\t]\r\n}\r\n\r\n'
\r\n\t"ErrorMessage" : ""

'922 NW Circle Blvd'

In [127]:
def get_address(df, index, one_or_zero):
    lon = df.iloc[index][0]
    lat = df.iloc[index][1]
    web_input = {'lon':str(lon), 
                  'lat':str(lat), 
                  'state':"or", 
                  'apikey':"06b0930203314ecc90082f30a9e65753", 
                 'format':"json",
                 'notStore':"false",
                 'version':"4.10"}
    website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?',
                           params=web_input)
    json_read = json.loads(website.content)
    idx_cp = index
    if one_or_zero == 1:
        while json_read['QueryStatusCode'] != "Success":
            idx_cp = idx_cp + 1
            lon = df.iloc[idx_cp][0]
            lat = df.iloc[idx_cp][1]
            web_input = {'lon':str(lon), 
                      'lat':str(lat), 
                      'state':"or", 
                      'apikey':"06b0930203314ecc90082f30a9e65753", 
                     'format':"json",
                     'notStore':"false",
                     'version':"4.10"}
            website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?',
                                   params=web_input)
            json_read = json.loads(website.content)
    else:
        while json_read['QueryStatusCode'] != "Success":
            idx_cp = idx_cp - 1 
            lon = df.iloc[idx_cp][0]
            lat = df.iloc[idx_cp][1]
            web_input = {'lon':str(lon), 
                      'lat':str(lat), 
                      'state':"or", 
                      'apikey':"06b0930203314ecc90082f30a9e65753", 
                     'format':"json",
                     'notStore':"false",
                     'version':"4.10"}
            website = requests.get('https://geoservices.tamu.edu/Services/ReverseGeocoding/WebService/v04_01/Rest/?',
                                   params=web_input)
            json_read = json.loads(website.content)
    print(json_read)
    address = str(json_read['StreetAddresses'][0]['StreetAddress'])
    df.iloc[index]['streetName'] = address
    return address

In [128]:
print(get_address(DataFrame2, 0, 1))

{'TransactionId': 'bc97cfdc-dcc5-416f-8f3e-edd2882afe01', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6611', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'bc97cfdc-dcc5-416f-8f3e-edd2882afe01', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
922 NW Circle Blvd

In [129]:
turn_pts = list()
def binarySearch(df):
    print()
    print("start a new bs")
    # df = df.reset_index(drop=True)
    start = df.index[0]
    end = df.index[-1]
    mid = math.ceil((start + end) / 2)
    print(start, mid, end)
    # find start point address 
    start_address = get_address(df, start, 1)
    
    # find mid point address 
    mid_address = get_address(df, mid, 1)
    
    # find end point address 
    end_address = get_address(df, end, 0)
    
    # base case
    if len(df) <= 2:
        for index, item in df.iterrows():
            row, col = item
            l = [row, col]
            turn_pts.append(l)
        return None
    
    elif start_address == mid_address and mid_address == end_address:
        if end - start < math.ceil(len(df) / 1000):  # 
            return None
        else:
            binarySearch(df.iloc[start:mid])
            binarySearch(df.iloc[mid:end])
            
    else:
        binarySearch(df.iloc[start:mid])
        binarySearch(df.iloc[mid:end])
    print(turn_pts)

In [130]:
binarySearch(DataFrame2)

start a new bs
12
{'TransactionId': '012b4590-105c-4344-97f3-2265caee00bf', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6228', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '012b4590-105c-4344-97f3-2265caee00bf', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
{'TransactionId': '00843e69-4784-4827-bce8-540e82d29b11', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '171.8671', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '00843e69-4784-4827-bce8-540e82d29b11', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '109.3698', 'Exception': '', 'ErrorMessage': '', 'APN': '841900  106', 'StreetAddress': '9150 HOFFMAN RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97351', 'ZipPlus4': '9637'}]}
{'TransactionId': 'ee5c1062-bcd8-4fe9-b790-da4448fd404e', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '140.6221', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'ee5c1062-bcd8-4fe9-b790-da4448fd404e', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '109.3701', 'Exception': '', 'ErrorMessage': '', 'APN': '11512C000500', 'StreetAddress': '5210 NE Elliott Cir', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9432'}]}

start a new bs
6
{'TransactionId': '52a78a2c-f28c-4197-81a8-f75d5cd3ece6', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '93.7543', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '52a78a2c-f28c-4197-81a8-f75d5cd3ece6', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
{'TransactionId': 'c0752147-852c-4f90-9430-ba084e81f38d', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6313', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'c0752147-852c-4f90-9430-ba084e81f38d', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6313', 'Exception': '', 'ErrorMessage': '', 'APN': '10514B000300', 'StreetAddress': '38894 Trillium Ln', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9366'}]}
{'TransactionId': '46cc0b53-f7ef-4c2a-9532-e2d62fa98c9f', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '46.875', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '46cc0b53-f7ef-4c2a-9532-e2d62fa98c9f', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '46.875', 'Exception': '', 'ErrorMessage': '', 'APN': '951200  100', 'StreetAddress': '8595 HELMICK RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9559'}]}

start a new bs
3
{'TransactionId': '71f43e30-e6c3-4ae1-9599-dbb2464d42ae', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '78.1268', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '71f43e30-e6c3-4ae1-9599-dbb2464d42ae', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
{'TransactionId': 'c2e20f74-3a4c-4652-8263-7f949cbc46e9', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '2593.7545', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'c2e20f74-3a4c-4652-8263-7f949cbc46e9', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '2578.1316', 'Exception': '', 'ErrorMessage': '', 'APN': '11510B003500', 'StreetAddress': '2471 NW Michelle Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9267'}]}
{'TransactionId': 'b71bd472-7cac-47a8-b6a2-176fc0ed7a3f', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '31.2443', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'b71bd472-7cac-47a8-b6a2-176fc0ed7a3f', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6289', 'Exception': '', 'ErrorMessage': '', 'APN': '105240000500', 'StreetAddress': '28808 Tampico Rd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9361'}]}

start a new bs
1
{'TransactionId': 'e64d4d7d-8062-49e0-b162-a2eaf77333a1', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'e64d4d7d-8062-49e0-b162-a2eaf77333a1', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
{'TransactionId': '8fd48aa4-2c7c-4ab1-bccd-309a0d7db685', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '234.388', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '8fd48aa4-2c7c-4ab1-bccd-309a0d7db685', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '218.76', 'Exception': '', 'ErrorMessage': '', 'APN': '115140001200', 'StreetAddress': '4160 NW Crescent Valley Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9714'}]}
{'TransactionId': '4f332f4e-1207-4d1e-bfd2-ebef1a3c8539', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '156.2497', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '4f332f4e-1207-4d1e-bfd2-ebef1a3c8539', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '140.627', 'Exception': '', 'ErrorMessage': '', 'APN': '11510AD01900', 'StreetAddress': '1635 NW Sulphur Springs Rd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9359'}]}

start a new bs
0
{'TransactionId': '22e975bb-76b7-4117-afcc-f13e999ba32d', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6147', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '22e975bb-76b7-4117-afcc-f13e999ba32d', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
{'TransactionId': 'e9c2d570-b120-4fe1-9804-865f01994121', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '31.2753', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'e9c2d570-b120-4fe1-9804-865f01994121', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}
{'TransactionId': 'd1a073fb-9321-4a9f-9e1b-2f8b1ae5db65', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6209', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'd1a073fb-9321-4a9f-9e1b-2f8b1ae5db65', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11526AD02202', 'StreetAddress': '922 NW Circle Blvd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '1410'}]}

start a new bs
0
{'TransactionId': '833db883-e3ff-4067-af7c-f2430a73625d', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6165', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '833db883-e3ff-4067-af7c-f2430a73625d', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '115140001200', 'StreetAddress': '4160 NW Crescent Valley Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9714'}]}
{'TransactionId': '3c9aece7-2fc9-4339-947e-9332c846bdb4', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '3c9aece7-2fc9-4339-947e-9332c846bdb4', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '115140001200', 'StreetAddress': '4160 NW Crescent Valley Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9714'}]}

{'TransactionId': '53f63f87-b9ec-480a-a441-3f7be657b4d7', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '53f63f87-b9ec-480a-a441-3f7be657b4d7', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '115140001200', 'StreetAddress': '4160 NW Crescent Valley Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9714'}]}

start a new bs
1
{'TransactionId': 'dc1e86c2-647f-4841-96ea-1aa29059f50c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6259', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'dc1e86c2-647f-4841-96ea-1aa29059f50c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '11510B003500', 'StreetAddress': '2471 NW Michelle Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9267'}]}
{'TransactionId': '0ffee2ca-54af-4fc2-925a-31f7c5b7ec57', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6274', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '0ffee2ca-54af-4fc2-925a-31f7c5b7ec57', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6274', 'Exception': '', 'ErrorMessage': '', 'APN': '10534A001100', 'StreetAddress': '37524 Soap Creek Rd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9832'}]}
{'TransactionId': '6758d05d-38c9-4a48-ac5a-140016dd42f6', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.5987', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '6758d05d-38c9-4a48-ac5a-140016dd42f6', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '10534A001100', 'StreetAddress': '37524 Soap Creek Rd', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9832'}]}

start a new bs
2
{'TransactionId': '7f99f03c-8023-4511-934a-d48dd85acaf2', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6267', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '7f99f03c-8023-4511-934a-d48dd85acaf2', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '10514B000300', 'StreetAddress': '38894 Trillium Ln', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9366'}]}
{'TransactionId': 'f94b573f-5ec7-49c7-a399-ad70aca0edd8', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '46.8547', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'f94b573f-5ec7-49c7-a399-ad70aca0edd8', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '31.252', 'Exception': '', 'ErrorMessage': '', 'APN': '953500  200', 'StreetAddress': '11665 AIRLIE RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9621'}]}
{'TransactionId': '9daa237f-da6b-45b1-8060-268dfb686fa0', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '46.8826', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '9daa237f-da6b-45b1-8060-268dfb686fa0', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '46.8826', 'Exception': '', 'ErrorMessage': '', 'APN': '951300  300', 'StreetAddress': '10485 HELMICK RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9794'}]}

start a new bs
1
{'TransactionId': '47eb60c1-e177-43e4-9dc3-486c77430fae', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '47eb60c1-e177-43e4-9dc3-486c77430fae', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '10514B000300', 'StreetAddress': '38894 Trillium Ln', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9366'}]}
{'TransactionId': 'b57b6e19-8951-41ca-a6b0-f7f845c051d3', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '31.2529', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'b57b6e19-8951-41ca-a6b0-f7f845c051d3', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6241', 'Exception': '', 'ErrorMessage': '', 'APN': '105 400  301', 'StreetAddress': '14105 BERRY CREEK RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9736'}]}
{'TransactionId': '8de4d287-a1a1-4b93-bacc-09fddd871b3c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '8de4d287-a1a1-4b93-bacc-09fddd871b3c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '105 400  301', 'StreetAddress': '14105 BERRY CREEK RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9736'}]}

start a new bs
1
{'TransactionId': '81a1b7d9-0d29-4a6b-a337-0fa03df7a9d2', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '81a1b7d9-0d29-4a6b-a337-0fa03df7a9d2', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '953500  200', 'StreetAddress': '11665 AIRLIE RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9621'}]}
{'TransactionId': 'a9e3a366-9445-4e0e-a420-ee7be8e90e95', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '31.2509', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'a9e3a366-9445-4e0e-a420-ee7be8e90e95', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '31.2509', 'Exception': '', 'ErrorMessage': '', 'APN': '943100  100', 'StreetAddress': '12680 S PACIFIC HWY W', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9753'}]}
{'TransactionId': '25f61db7-cefc-452d-82dc-80dcfc69d839', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6252', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '25f61db7-cefc-452d-82dc-80dcfc69d839', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '943100  100', 'StreetAddress': '12680 S PACIFIC HWY W', 'City': 'Independence', 'State': 'OR', 'Zip': '97361', 'ZipPlus4': '9753'}]}

start a new bs
6
{'TransactionId': '4117def2-7b4a-4555-b6a1-df62a6e31cae', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '4117def2-7b4a-4555-b6a1-df62a6e31cae', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '841900  106', 'StreetAddress': '9150 HOFFMAN RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97351', 'ZipPlus4': '9637'}]}
{'TransactionId': '8dddfc1b-18b2-47f4-a2bb-bf7439bd1e07', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '171.8787', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '8dddfc1b-18b2-47f4-a2bb-bf7439bd1e07', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '171.8787', 'Exception': '', 'ErrorMessage': '', 'APN': '094W2400100', 'StreetAddress': '4173 Buena Vista Rd', 'City': 'Gervais', 'State': 'OR', 'Zip': '97352', 'ZipPlus4': '9740'}]}
{'TransactionId': '949cb739-87e3-405b-9ecf-b0eb1b106354', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '109.3656', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '949cb739-87e3-405b-9ecf-b0eb1b106354', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '109.3656', 'Exception': '', 'ErrorMessage': '', 'APN': '114060002001', 'StreetAddress': '7040 NE Pettibone Dr', 'City': 'Corvallis', 'State': 'OR', 'Zip': '97330', 'ZipPlus4': '9612'}]}

start a new bs
3
{'TransactionId': 'd51c1379-8207-46cf-a32d-2289c0a951f7', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'd51c1379-8207-46cf-a32d-2289c0a951f7', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '841900  106', 'StreetAddress': '9150 HOFFMAN RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97351', 'ZipPlus4': '9637'}]}

{'TransactionId': '5b13e939-90ac-4575-9228-addbc7179b8c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '375.0117', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '5b13e939-90ac-4575-9228-addbc7179b8c', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '375.0117', 'Exception': '', 'ErrorMessage': '', 'APN': '084W3500200', 'StreetAddress': '5996 Riverside Dr', 'City': 'Salem', 'State': 'OR', 'Zip': '97306', 'ZipPlus4': '9737'}]}
{'TransactionId': 'c2117842-3557-4eb6-afed-e6daa6ad74cd', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '453.1459', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': 'c2117842-3557-4eb6-afed-e6daa6ad74cd', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '437.522', 'Exception': '', 'ErrorMessage': '', 'APN': '093W0800400', 'StreetAddress': '10424 Sidney Rd', 'City': 'Salem', 'State': 'OR', 'Zip': '97306', 'ZipPlus4': '9448'}]}

start a new bs
1
{'TransactionId': '94c8e0d8-eebc-4377-80ac-bca07106f69a', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6177', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '94c8e0d8-eebc-4377-80ac-bca07106f69a', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '841900  106', 'StreetAddress': '9150 HOFFMAN RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97351', 'ZipPlus4': '9637'}]}
{'TransactionId': '955ae898-d653-4477-8baa-9a46ab759c83', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6309', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '955ae898-d653-4477-8baa-9a46ab759c83', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '841900  106', 'StreetAddress': '9150 HOFFMAN RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97351', 'ZipPlus4': '9637'}]}
{'TransactionId': '2c286c3d-33f8-411a-be23-c5ea628a4345', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '15.6141', 'Exception': '', 'ErrorMessage': '', 'StreetAddresses': [{'TransactionId': '2c286c3d-33f8-411a-be23-c5ea628a4345', 'Version': '4.01', 'QueryStatusCode': 'Success', 'TimeTaken': '0', 'Exception': '', 'ErrorMessage': '', 'APN': '841900  106', 'StreetAddress': '9150 HOFFMAN RD', 'City': 'Independence', 'State': 'OR', 'Zip': '97351', 'ZipPlus4': '9637'}]}

start a new bs
0

IndexError: single positional indexer is out-of-bounds